




#contact, #chat  {
    color: rgb(45, 123, 157);
    height: 100vh;
}

#contact{
    
    height: 800px;
    border-bottom: none;
    padding: 20px;
    
}


#message_contact{
    height: 50px;
    background-color: rgb(237, 237, 237);
    margin-left: 30px;
    margin-top: 20px;
    width: 100%;
}

#chat{
    position: relative;
    vertical-align: bottom;
    height: 100vh;
    background-color: rgb(235, 235, 235);

}

#message_box{
    overflow-y: scroll;
    height: 90%;
    overflow-x : hidden;
    width : 100%;
    margin-left: "30px";
    margin-bottom: "30px";
}

#message_header{
    height: 40px;
    margin-top: 30px;
    background-color:rgb(230, 230, 230) ;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 5px;
    width: 95%;
}


#logout {
    margin-bottom: 50px;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid rgb(45, 123, 157) ;
}

#login_page{
    width: 50%;
    color: rgb(45, 123, 157);
    padding-top: 10%;
    text-align: center;
    margin: auto;
    
}